<a [routerLink]="['/games']">Back</a>
<br>
<h2 class="page-header">Add Game</h2>
<div class="col-md-4 offset-md-8">
  <form (submit)="onAddSubmit()">
    <div class="form-group">
      <label>Home Team</label>
      <select class="form-control" [(ngModel)]="hometeam" name="hometeam" required>
      <option *ngFor="let team of allTeams" [ngValue]="team">{{team.name}}</option>
    </select>
    </div>
    <div class="form-group">
      <label>Away Team</label>
      <select class="form-control" [(ngModel)]="awayteam" name="awayteam" required>
      <option *ngFor="let team of allTeams" [ngValue]="team">{{team.name}}</option>
    </select>
    </div>
    <div class="form-group">
      <label>Date</label>
      <input class="form-control" type="text" [(ngModel)]="date" name="date" placeholder="yyyy-mm-dd" required>
    </div>
    <div class="form-group">
      <label>Time</label>
      <input class="form-control" type="text" [(ngModel)]="time" name="time" placeholder="hh:mm (24h)" required>
    </div>
    <div class="form-group">
      <label>Details</label>
      <input class="form-control" type="text" [(ngModel)]="details" name="details" required>
    </div>
    <input type="submit" value="submit" class="btn btn-success">
  </form>
</div>