<div *ngIf="game">
  <a [routerLink]="['/games']">Go Back</a>
  <h2>Game Availabiltiy</h2>
  <table class="table">
    <thead>
      <tr>
        <th>
          Game
        </th>
        <th>
          Player
        </th>
        <th>
          Available
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of game.playeravailability;">
        <td>
          {{game.date}}: {{game.hometeam.name}} - {{game.awayteam.name}}
        </td>
        <td>
          {{player.player.firstname}} {{player.player.lastname}}
        </td>
        <td [ngClass]="{'success': player.available == 'Going', 'active': player.available == 'Unknown', 'danger': player.available == 'Not Available'}">
          <b>{{player.available}}</b>
        </td>
        <td>
          <a class="btn btn-primary btn-sm" [routerLink]="['/edit-gameavailability/', game.$key, player.id]">Change Status</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>