<h2>Games</h2>
<p>
  <a class="btn btn-success" [routerLink]="['/add-game']">Create New</a>
</p>
<div style="overflow:auto;">
  <table class="table">
    <thead>
      <tr>
        <th>
          Home Team
        </th>
        <th>
          Away Team
        </th>
        <th>
          Date
        </th>
        <th>
          Time
        </th>
        <th>
          Score
        </th>
        <th>
          Won
        </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of games">
        <td>
          {{game.hometeam.name}}
        </td>
        <td>
          {{game.awayteam.name}}
        </td>
        <td>
          {{game.date}}
        </td>
        <td>
          {{game.time}}
        </td>
        <td>
          {{game.score}}
        </td>
        <td>
          <input class="form-control" type="checkbox" [(ngModel)]="game.won" name="game.won" disabled>
        </td>
        <td>
          <a *ngIf="afAuth.authState | async" class="btn btn-primary btn-sm" [routerLink]="['/edit-game/'+game.$key]">Edit</a>
          <a class="btn btn-warning btn-sm" [routerLink]="['/game/'+game.$key]">Details</a>
          <a *ngIf="afAuth.authState | async" (click)="onDeleteClick(game.$key)" class="btn btn-danger btn-sm">Delete</a>
        </td>
        <td>
          <a class="btn btn-warning btn-sm" [routerLink]="['/gameavailability/'+game.$key]">Availability</a>
          <a *ngIf="game.score != '00-00'" class="btn btn-success btn-sm" [routerLink]="['/gamestats/'+game.$key]">Game Stats</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>